* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
}

body {
    width: 800px;
    margin: 0 auto;
}

h1 {
    color: orange;
}

h3 {
    color: lightgreen;
}

a {
    color: dodgerblue;
}

li a {
    padding: 10px;
    background-color: rgb(68, 68, 68);
    margin: 10px;
    display: block;
}

#title {
    text-align: center;
}